body {
    margin: 0;
    padding: 0;
    font-family: Source sans pro;
}

html {
    scroll-behavior: smooth;
}

.css-blog-navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #324851;
}

.css-blog-navbar a {
    color: #86AC41;
    font-size: 26px;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

.css-blog-navbar a.icon {
    background-color: #324851; 
    right: 0;
    top: 0;
    display: inline-block;
    position: absolute; 
}

.active {
    background-color: #324851;
}

.css-blog-navbar #blogLinks {
    display: inline-block;
}

@media(max-width: 400px) {
    .css-blog-navbar #blogLinks {
        display: none;
    }
    i.fas.fa-book::before {
        padding-right: 12px;
    }
    .main-blog {
    padding-top: 60px;
}
.main-blog {
    padding: 20px;
    border: 20px solid #324851;
    max-width: 100%;
    margin: 20px auto;
}
.header-blog {
    margin-bottom: 100px;
}

.quote {
    border-left: 5px solid #86AC41;
    padding-left: 5px;
}

.date {
    color: #86AC41;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
hr {
    width: 85%;
}
}

@media(min-width: 401px) {
    i.fas.fa-book::before {
        padding-right: 12px;
    }
    .css-blog-navbar #blogLinks {
    display: inline-block;
}

.css-blog-navbar a.icon {
    display: none;
}

.main-blog {
    padding: 20px;
    border: 20px solid #324851;
    max-width: 70%;
    margin: 20px auto;
}

.header-blog {
    margin-bottom: 100px;
}

.quote {
    border-left: 5px solid #86AC41;
    padding-left: 5px;
}

.date {
    color: #86AC41;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 30px;
}

hr {
    width: 95%;
    border: 1px solid #86AC41;
}

.blog-paragraph-content {
    margin-bottom: 20px;
}
} 